<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>94573941769-b7kjm3bs0h58mak5qnj3ksbrmihn466q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.94573941769-b7kjm3bs0h58mak5qnj3ksbrmihn466q</string>
	<key>API_KEY</key>
	<string>AIzaSyCV9TR0IlrVpqfs9jE3oArBO6Qvt3HTQg8</string>
	<key>GCM_SENDER_ID</key>
	<string>94573941769</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MEDENG.Connect-1</string>
	<key>PROJECT_ID</key>
	<string>connect1-de854</string>
	<key>STORAGE_BUCKET</key>
	<string>connect1-de854.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:94573941769:ios:4ff25218d3b2f357</string>
	<key>DATABASE_URL</key>
	<string>https://connect1-de854.firebaseio.com</string>
</dict>
</plist>